
body {
	font-family: 'Roboto', 'Roboto Slab', serif;
}
nav{
    height: 90px;
    line-height: 90px;
}
.topSection {	
    background-color: white;
    min-height: 660px;
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(../images/homeBg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.topSection .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.navigate > ul > li {
    display: inline-block;
    padding-left: 20px;
    color: white;
    font-size: 17px;
    margin-left: 30px;
}
.navigate > ul > li.logo {
    margin-left: 0;
}
.navLink {
    color: white;
    text-decoration: none;
    opacity: .8;
    position: relative;
}
.navLink:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}
.navLink:visited, .navLink:focus {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}
.navLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .4s;
}
.navLink:hover::after {
    width: 100%;
}
.hello {
	font-weight: 700;
    font-size: 40px;
    padding-top: 90px;
    color: white;
}
.hello h1 {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 1;
}
.hello .caption{
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0 20%;
    font-weight: 500;
}
.hello .learnMore{
    display: block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    width: 15%;
    font-size: 14px;
    margin: auto;
    margin-top: 35px;
    padding: 13px 0;
    border-radius: 3px;
}
.hello .learnMore:hover{
    background-color: #fff;
    color: #000;
}
nav img{
    width: 50%;
    margin-top: 5px;

}
.workType {
	font-size: 25px;
    padding-top: 25px;
}
.workType > ul > li {
    opacity: .8;
    display: inline-block;
    padding-right: 20px;
}
.center {
	text-align: center;
}
.workSection img {
	width: 100%;
    transition: 0.25s;
}
.workSection img:hover {
    transform: scale(1.1);
}
.workSection h2 {
    margin-bottom: 45px;
    margin-top: 45px;
    font-size: 35px;
    text-align: center;
    color: rgba(0, 0, 0, 0.71);
    font-weight: 900;
}
.workImages {
	margin-top: 20px;
	margin-bottom: 40px;
}
.work:hover {
	opacity: .5;
}
.work {
    border: 3px solid rgba(0, 0, 0, 0.71);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.aboutSection {
	background-color: rgba(0, 0, 0, 0.71);
    min-height: 200px;
}
.aboutImage {
    margin-bottom: 35px;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.aboutImage img {
    width: 100%;
}
.aboutMe {
    font-size: 25px;
    margin-bottom: 40px;
    color: white;
}
.aboutMe p {
	margin: 0px;	
}
.aboutMe span {
    margin-left: 40px;
    margin-top: 65px;
}
.fa-phone:before , .fa-paper-plane:before {
	padding-right: 10px;
}
.footer {
	background-color: white;
    min-height: 300px;
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(../images/background-1.png);
}
.contact {
	color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}
.contact > span {
	font-size: 12px;
}
.contactIcon {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contactIcon > a {
	color: white;
	opacity: .8;
	border: 4px solid transparent;
	
}
.contactIcon > a:hover {
	text-decoration: none;
	opacity: 1;
	border: 4px solid white;
    border-radius: 100px;
    transition: all .2s linear;
}
.contactIcon > a:visited {
	text-decoration: none;
}
.iconMargin {
	margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}
.backUp button {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border: 2px solid white;
    position: fixed;
    bottom: 20px;
    right: 60px;
}
.backUp button:hover {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
}
.backUp i {
    padding-right: 4px;
}
.backUp a {
	display: none;
}
.backUp a:hover {
	text-decoration: none;
}